In [3]:
import os
import numpy as np
import xarray as xr
import pandas as pd
import netCDF4 as nc
import geopandas as gpd
import rioxarray as rxr
from myfunc import timer
from myfunc import DirMan
from myfunc import load_and_flatten_data
import config

# configuration
# resolution = "0p1"
resolution = "500"
region = [-180,180,-60,90]
data_path = f'/tera04/zhwei/xionghui/bedrock/run/{resolution}/'
post_data_path = '/tera04/zhwei/xionghui/bedrock/'
shp_path = '/tera04/zhwei/xionghui/bedrock/Shp/'
fig_path = f'/home/xuxh22/stu01/Bedrock/fig/{resolution}/'
path = '/home/xuxh22/stu01/Bedrock/'

if resolution == "0p1":
    size = 0.1
elif resolution == "500":
    size = 0.0005

dir_man = DirMan(data_path)
dir_man.enter()

os.makedirs(f'{data_path}/csv', exist_ok=True)

# area_sum = 19.925158940748766

Entered /tera04/zhwei/xionghui/bedrock/run/500/

In [4]:
df = pd.DataFrame()

with nc.Dataset('mask1234.nc4') as dataset:
    lat = dataset['lat'][:].flatten()
    lon = dataset['lon'][:].flatten()
    df['lat'] = np.repeat(lat, len(lon))
    df['lon'] = np.tile(lon, len(lat))

file_variable_list = [
    ('mask1234', 'Band1'),
    ('Dbedrock_Frequency', 'Dbedrock'),
    # ('Dbedrock_Frequency', 'Band1'),

    # ('D_frequency_per_year_mean','Frequency'),
    # ('D_frequency_per_year_max','Frequency'),

    ('D_frequency_per_year_mean','Band1'),
    ('D_frequency_per_year_max','Band1'),
]

for entry in file_variable_list:
    file = entry[0]
    variable_name = entry[1]  
    index = entry[2:] if len(entry) > 2 else None  
    if index:
        df[file] = load_and_flatten_data(file, variable_name, index[0])
    else:
        df[file] = load_and_flatten_data(file, variable_name)

# df = df.dropna()
df = df[df['mask1234'] == 1]

print(df['D_frequency_per_year_mean'].mean())
print(df['D_frequency_per_year_max'].mean())
print(df.groupby('Dbedrock_Frequency')['D_frequency_per_year_mean'].mean())
print(df.groupby('Dbedrock_Frequency')['D_frequency_per_year_max'].mean())

df.drop(labels='mask1234',axis=1,inplace=True)
with open('csv/Global_D_frequency_per_year.csv','w') as f:
    df.to_csv(f)
df

0.96641105
1.2611157
Dbedrock_Frequency
1.0    1.379251
4.0    0.744403
Name: D_frequency_per_year_mean, dtype: float32
Dbedrock_Frequency
1.0    1.959163
4.0    0.885720
Name: D_frequency_per_year_max, dtype: float32

,lat,lon,Dbedrock_Frequency,D_frequency_per_year_mean,D_frequency_per_year_max
708161369,-55.847915,-67.627077,1.0,0.000000,0.000000
708161370,-55.847915,-67.622911,1.0,0.000000,0.000000
708161371,-55.847915,-67.618744,1.0,0.000000,0.000000
708161372,-55.847915,-67.614577,1.0,0.000000,0.000000
708161373,-55.847915,-67.610411,1.0,0.000000,0.000000
...,...,...,...,...,...
3586500782,82.960426,-26.739575,1.0,7.067129,9.104161
3586500783,82.960426,-26.735409,1.0,7.071759,9.145828
3586500784,82.960426,-26.731242,1.0,7.076388,9.187495
3586500785,82.960426,-26.727075,1.0,7.081018,9.229161
3586500786,82.960426,-26.722909,1.0,7.085648,9.270828

In [5]:
df = pd.DataFrame()

with nc.Dataset('mask1234.nc4') as dataset:
    lat = dataset['lat'][:].flatten()
    lon = dataset['lon'][:].flatten()
    df['lat'] = np.repeat(lat, len(lon))
    df['lon'] = np.tile(lon, len(lat))

file_variable_list = [
    ('mask1234', 'Band1'),
    ('Dbedrock_Frequency', 'Dbedrock'),
    # ('Dbedrock_Frequency', 'Band1'),

    # ('D_sum_frequency', 'Frequency'),
    # ('D_sum_duration', 'Duration'),

    ('D_sum_frequency', 'Band1'),
    ('D_sum_duration', 'Band1'),
]

for entry in file_variable_list:
    file = entry[0]
    variable_name = entry[1]  
    index = entry[2:] if len(entry) > 2 else None  
    if index:
        df[file] = load_and_flatten_data(file, variable_name, index[0])
    else:
        df[file] = load_and_flatten_data(file, variable_name)


# df = df.dropna()
df = df[df['mask1234'] == 1]

print(df['D_sum_frequency'].mean())
print(df['D_sum_duration'].mean())
print(df.groupby('Dbedrock_Frequency')['D_sum_frequency'].mean())
print(df.groupby('Dbedrock_Frequency')['D_sum_duration'].mean())

df.drop(labels='mask1234',axis=1,inplace=True)
with open('csv/Global_D_sum.csv','w') as f:
    df.to_csv(f)
df

10.959912
503.383
Dbedrock_Frequency
1.0    23.009665
4.0     4.479798
Name: D_sum_frequency, dtype: float32
Dbedrock_Frequency
1.0    1188.627197
4.0     134.874542
Name: D_sum_duration, dtype: float32

,lat,lon,Dbedrock_Frequency,D_sum_frequency,D_sum_duration
708161369,-55.847915,-67.627077,1.0,0.000000,0.000000
708161370,-55.847915,-67.622911,1.0,0.000000,0.000000
708161371,-55.847915,-67.618744,1.0,0.000000,0.000000
708161372,-55.847915,-67.614577,1.0,0.000000,0.000000
708161373,-55.847915,-67.610411,1.0,0.000000,0.000000
...,...,...,...,...,...
3586500782,82.960426,-26.739575,1.0,127.208321,3061.000244
3586500783,82.960426,-26.735409,1.0,127.291656,3059.000244
3586500784,82.960426,-26.731242,1.0,127.374992,3057.000244
3586500785,82.960426,-26.727075,1.0,127.458321,3055.000244
3586500786,82.960426,-26.722909,1.0,127.541656,3053.000244

In [6]:
df = pd.DataFrame()

with nc.Dataset('mask1234.nc4') as dataset:
    lat = dataset['lat'][:].flatten()
    lon = dataset['lon'][:].flatten()
    df['lat'] = np.repeat(lat, len(lon))
    df['lon'] = np.tile(lon, len(lat))

file_variable_list = [
    ('mask1234', 'Band1'),
    ('Dbedrock_Frequency', 'Dbedrock'),
    # ('Dbedrock_Frequency', 'Band1'),

    # ('D_duration_per_year_max', 'Duration'),
    # ('D_duration_per_year_mean', 'Duration'),

    ('D_duration_per_year_max', 'Band1'),
    ('D_duration_per_year_mean', 'Band1'),
]

for entry in file_variable_list:
    file = entry[0]
    variable_name = entry[1]  
    index = entry[2:] if len(entry) > 2 else None  
    if index:
        df[file] = load_and_flatten_data(file, variable_name, index[0])
    else:
        df[file] = load_and_flatten_data(file, variable_name)

# df = df.dropna()
df = df[df['mask1234'] == 1]

print(df['D_duration_per_year_max'].mean())
print(df['D_duration_per_year_mean'].mean())
print(df.groupby('Dbedrock_Frequency')['D_duration_per_year_max'].mean())
print(df.groupby('Dbedrock_Frequency')['D_duration_per_year_mean'].mean())

df.drop(labels='mask1234',axis=1,inplace=True)
with open('csv/Global_D_duration_per_year.csv','w') as f:
    df.to_csv(f)
df

57.946846
36.059853
Dbedrock_Frequency
1.0    104.685913
4.0     32.811707
Name: D_duration_per_year_max, dtype: float32
Dbedrock_Frequency
1.0    68.451073
4.0    18.640739
Name: D_duration_per_year_mean, dtype: float32

,lat,lon,Dbedrock_Frequency,D_duration_per_year_max,D_duration_per_year_mean
708161369,-55.847915,-67.627077,1.0,0.0,0.000000
708161370,-55.847915,-67.622911,1.0,0.0,0.000000
708161371,-55.847915,-67.618744,1.0,0.0,0.000000
708161372,-55.847915,-67.614577,1.0,0.0,0.000000
708161373,-55.847915,-67.610411,1.0,0.0,0.000000
...,...,...,...,...,...
3586500782,82.960426,-26.739575,1.0,229.0,170.055573
3586500783,82.960426,-26.735409,1.0,229.0,169.944458
3586500784,82.960426,-26.731242,1.0,229.0,169.833344
3586500785,82.960426,-26.727075,1.0,229.0,169.722229
3586500786,82.960426,-26.722909,1.0,229.0,169.611130

In [7]:
df = pd.DataFrame()

with nc.Dataset('mask1234.nc4') as dataset:
    lat = dataset['lat'][:].flatten()
    lon = dataset['lon'][:].flatten()
    df['lat'] = np.repeat(lat, len(lon))
    df['lon'] = np.tile(lon, len(lat))

file_variable_list = [
    ('mask1234', 'Band1'),
    ('Dbedrock_Frequency', 'Dbedrock'),
    # ('Dbedrock_Frequency', 'Band1'),

    # ('D_duration_per_use_max', 'Duration'),
    # ('D_duration_per_use_mean', 'Duration'),

    ('D_duration_per_use_max', 'Band1'),
    ('D_duration_per_use_mean', 'Band1'),
]

for entry in file_variable_list:
    file = entry[0]
    variable_name = entry[1]  
    index = entry[2:] if len(entry) > 2 else None  
    if index:
        df[file] = load_and_flatten_data(file, variable_name, index[0])
    else:
        df[file] = load_and_flatten_data(file, variable_name)

# df = df.dropna()
df = df[df['mask1234'] == 1]

print(df['D_duration_per_use_max'].mean())
print(df['D_duration_per_use_mean'].mean())
print(df.groupby('Dbedrock_Frequency')['D_duration_per_use_max'].mean())
print(df.groupby('Dbedrock_Frequency')['D_duration_per_use_mean'].mean())

df.drop(labels='mask1234',axis=1,inplace=True)
with open('csv/Global_D_duration_per_use.csv','w') as f:
    df.to_csv(f)
df

53.223843
29.731241
Dbedrock_Frequency
1.0    93.458282
4.0    31.586876
Name: D_duration_per_use_max, dtype: float32
Dbedrock_Frequency
1.0    52.486588
4.0    17.493921
Name: D_duration_per_use_mean, dtype: float32

,lat,lon,Dbedrock_Frequency,D_duration_per_use_max,D_duration_per_use_mean
708161369,-55.847915,-67.627077,1.0,0.0,0.000000
708161370,-55.847915,-67.622911,1.0,0.0,0.000000
708161371,-55.847915,-67.618744,1.0,0.0,0.000000
708161372,-55.847915,-67.614577,1.0,0.0,0.000000
708161373,-55.847915,-67.610411,1.0,0.0,0.000000
...,...,...,...,...,...
3586500782,82.960426,-26.739575,1.0,176.0,24.063988
3586500783,82.960426,-26.735409,1.0,176.0,24.032888
3586500784,82.960426,-26.731242,1.0,176.0,24.001789
3586500785,82.960426,-26.727075,1.0,176.0,23.970690
3586500786,82.960426,-26.722909,1.0,176.0,23.939590

In [8]:
df = pd.DataFrame()

with nc.Dataset('mask1234.nc4') as dataset:
    lat = dataset['lat'][:].flatten()
    lon = dataset['lon'][:].flatten()
    df['lat'] = np.repeat(lat, len(lon))
    df['lon'] = np.tile(lon, len(lat))

file_variable_list = [
    ('mask1234', 'Band1'),
    ('Dbedrock_Frequency', 'Dbedrock'),
    # ('Dbedrock_Frequency', 'Band1'),

    # ('D_first_day_min', 'First_Day'),
    # ('D_first_day_max_sub_min', 'First_Day'),

    ('D_first_day_min', 'Band1'),
    ('D_first_day_max_sub_min', 'Band1'),
]

for entry in file_variable_list:
    file = entry[0]
    variable_name = entry[1]  
    index = entry[2:] if len(entry) > 2 else None  
    if index:
        df[file] = load_and_flatten_data(file, variable_name, index[0])
    else:
        df[file] = load_and_flatten_data(file, variable_name)

# df = df.dropna()
df = df[df['mask1234'] == 1]

print(df['D_first_day_min'].mean())
print(df['D_first_day_max_sub_min'].mean())
print(df.groupby('Dbedrock_Frequency')['D_first_day_min'].mean())
print(df.groupby('Dbedrock_Frequency')['D_first_day_max_sub_min'].mean())

df.drop(labels='mask1234',axis=1,inplace=True)
with open('csv/Global_D_first_day.csv','w') as f:
    df.to_csv(f)
df

105.46701
60.897484
Dbedrock_Frequency
1.0     88.857399
4.0    114.399605
Name: D_first_day_min, dtype: float32
Dbedrock_Frequency
1.0    84.500404
4.0    48.204662
Name: D_first_day_max_sub_min, dtype: float32

,lat,lon,Dbedrock_Frequency,D_first_day_min,D_first_day_max_sub_min
708161369,-55.847915,-67.627077,1.0,0.0,0.0
708161370,-55.847915,-67.622911,1.0,0.0,0.0
708161371,-55.847915,-67.618744,1.0,0.0,0.0
708161372,-55.847915,-67.614577,1.0,0.0,0.0
708161373,-55.847915,-67.610411,1.0,0.0,0.0
...,...,...,...,...,...
3586500782,82.960426,-26.739575,1.0,1.0,56.0
3586500783,82.960426,-26.735409,1.0,1.0,56.0
3586500784,82.960426,-26.731242,1.0,1.0,56.0
3586500785,82.960426,-26.727075,1.0,1.0,56.0
3586500786,82.960426,-26.722909,1.0,1.0,56.0