In [ ]:
import os
import numpy as np
import xarray as xr
import pandas as pd
import netCDF4 as nc
import geopandas as gpd
import rioxarray as rxr
from myfunc import timer
from myfunc import DirMan
from myfunc import load_and_flatten_data
import config

# configuration
# resolution = "0p1"
resolution = "500"
region = [-180,180,-60,90]
data_path = f'/tera11/zhwei/students/Xionghui/data/run/{resolution}/'
post_data_path = '/tera11/zhwei/students/Xionghui/data/'
shp_path = '/tera11/zhwei/students/Xionghui/data/Shp/'
fig_path = f'/home/xuxh22/stu01/Bedrock/fig/{resolution}/'
path = '/home/xuxh22/stu01/Bedrock/'

if resolution == "0p1":
    size = 0.1
elif resolution == "500":
    size = 0.0005

dir_man = DirMan(data_path)
dir_man.enter()

os.makedirs(f'{data_path}/csv', exist_ok=True)

# area_sum = 19.925158940748766

Entered /tera11/zhwei/students/Xionghui/data/run/0p1/

In [16]:
df = pd.DataFrame()

with nc.Dataset('mask123.nc4') as dataset:
    lat = dataset['lat'][:].flatten()
    lon = dataset['lon'][:].flatten()
    df['lat'] = np.repeat(lat, len(lon))
    df['lon'] = np.tile(lon, len(lat))

file_variable_list = [
    ('mask123', 'Band1'),
    ('Sbedrock', 'Sbedrock'),
    ('Area', 'area'),

    ('D_Frequency_mean', 'Frequency'),
    ('D_Frequency_max', 'Frequency'),
    ('D_Frequency_min', 'Frequency'),

    ('D_Frequency_max_sub_mean', 'Frequency'),
    ('D_Frequency_max_sub_min', 'Frequency'),

]

for entry in file_variable_list:
    file = entry[0]
    variable_name = entry[1]  
    index = entry[2:] if len(entry) > 2 else None  
    if index:
        df[file] = load_and_flatten_data(file, variable_name, index[0])
    else:
        df[file] = load_and_flatten_data(file, variable_name)


df = df.dropna()
df = df[df['Sbedrock'] > 0]
df = df[df['mask123'] == 1]

sfmean = df['D_Frequency_mean'].mean()
sfmax = df['D_Frequency_max'].mean()
sfmin = df['D_Frequency_min'].mean()

sfmsm = df['D_Frequency_max_sub_mean'].mean()
sfmsmin = df['D_Frequency_max_sub_min'].mean()


print(sfmean)
print(sfmax)
print(sfmin)
print(sfmsm)
print(sfmsmin)
print((df['Area'].sum()/1e12))


df.drop(labels='mask123',axis=1,inplace=True)
with open('csv/Global_D_year_Frequency.csv','w') as f:
    df.to_csv(f)
df

1.2299421
1.6767608
1.0281748
0.44681874
0.64858603
10.54748966912

,lat,lon,Sbedrock,Area,D_Frequency_mean,D_Frequency_max,D_Frequency_min,D_Frequency_max_sub_mean,D_Frequency_max_sub_min
1541895,-47.15,-70.45,33.209980,84091888.0,1.000000,1.000000,1.000000,2.405715e-09,4.190600e-09
1545495,-47.05,-70.45,39.002041,84249984.0,1.000178,1.000336,1.000061,1.576633e-04,2.746393e-04
1588679,-45.85,-72.05,20.309364,86126904.0,1.000069,1.000107,1.000046,3.729787e-05,6.103283e-05
1599463,-45.55,-73.65,16.204536,86590264.0,1.000046,1.000122,1.000000,7.586976e-05,1.220697e-04
1605469,-45.45,166.95,2.763156,86744184.0,1.000057,1.000137,1.000000,7.993000e-05,1.373218e-04
...,...,...,...,...,...,...,...,...,...
5777607,70.45,140.75,5.981903,41380000.0,1.000000,1.000000,1.000000,0.000000e+00,0.000000e+00
5777608,70.45,140.85,10.690372,41380000.0,1.000000,1.000000,1.000000,0.000000e+00,0.000000e+00
5781207,70.55,140.75,1.955921,41176540.0,1.000000,1.000000,1.000000,0.000000e+00,0.000000e+00
5781208,70.55,140.85,24.193825,41176540.0,1.000000,1.000000,1.000000,0.000000e+00,0.000000e+00
5784816,70.65,141.65,8.759745,40972972.0,1.000390,1.000549,1.000244,1.593574e-04,3.051525e-04

In [3]:
df = pd.DataFrame()

with nc.Dataset('mask123.nc4') as dataset:
    lat = dataset['lat'][:].flatten()
    lon = dataset['lon'][:].flatten()
    df['lat'] = np.repeat(lat, len(lon))
    df['lon'] = np.tile(lon, len(lat))

file_variable_list = [
    ('mask123', 'Band1'),
    ('Sbedrock', 'Sbedrock'),
    ('Area', 'area'),

    ('D_time_max_duration','Duration'),
    ('D_time_mean_duration', 'Duration'),
    ('D_sum_Frequency', 'Frequency'),
    ('D_sum_duration', 'Duration'),
]

for entry in file_variable_list:
    file = entry[0]
    variable_name = entry[1]  
    index = entry[2:] if len(entry) > 2 else None  
    if index:
        df[file] = load_and_flatten_data(file, variable_name, index[0])
    else:
        df[file] = load_and_flatten_data(file, variable_name)


df = df.dropna()
df = df[df['Sbedrock'] > 0]
df = df[df['mask123'] == 1]

sfmaxd = df['D_time_max_duration'].mean()
sfmeand = df['D_time_mean_duration'].mean()
ssf = df['D_sum_Frequency'].mean()
ssd = df['D_sum_duration'].mean()


print(sfmaxd)
print(sfmeand)
print(ssf)
print(ssd)
print((df['Area'].sum()/1e12))


df.drop(labels='mask123',axis=1,inplace=True)
with open('csv/Global_D_time.csv','w') as f:
    df.to_csv(f)
df

89.92221
50.13553
15.913459
915.2685
10.54748966912

,lat,lon,Sbedrock,Area,D_time_max_duration,D_time_mean_duration,D_sum_Frequency,D_sum_duration
1541895,-47.15,-70.45,33.209980,84091888.0,15.999985,10.166694,5.999969,61.000107
1545495,-47.05,-70.45,39.002041,84249984.0,21.004112,15.250363,8.003494,122.102524
1588679,-45.85,-72.05,20.309364,86126904.0,24.000366,23.999506,1.001541,24.023466
1599463,-45.55,-73.65,16.204536,86590264.0,8.000549,8.000062,2.001198,16.012970
1605469,-45.45,166.95,2.763156,86744184.0,8.000610,8.000078,1.001610,8.016425
...,...,...,...,...,...,...,...,...
5777607,70.45,140.75,5.981903,41380000.0,8.000000,8.000000,1.000000,8.000000
5777608,70.45,140.85,10.690372,41380000.0,8.000732,8.000732,1.000000,8.000732
5781207,70.55,140.75,1.955921,41176540.0,8.000000,8.000000,1.000000,8.000000
5781208,70.55,140.85,24.193825,41176540.0,31.997803,31.997803,1.000000,31.997803
5784816,70.65,141.65,8.759745,40972972.0,24.005493,23.999737,1.008056,24.142262

In [4]:
df = pd.DataFrame()

with nc.Dataset('mask123.nc4') as dataset:
    lat = dataset['lat'][:].flatten()
    lon = dataset['lon'][:].flatten()
    df['lat'] = np.repeat(lat, len(lon))
    df['lon'] = np.tile(lon, len(lat))

file_variable_list = [
    ('mask123', 'Band1'),
    ('Sbedrock', 'Sbedrock'),
    ('Area', 'area'),

    ('D_Duration_mean','Duration'),
    ('D_Duration_max', 'Duration'),
    ('D_Duration_max_sub_mean', 'Duration'),
]

for entry in file_variable_list:
    file = entry[0]
    variable_name = entry[1]  
    index = entry[2:] if len(entry) > 2 else None  
    if index:
        df[file] = load_and_flatten_data(file, variable_name, index[0])
    else:
        df[file] = load_and_flatten_data(file, variable_name)


df = df.dropna()
df = df[df['Sbedrock'] > 0]
df = df[df['mask123'] == 1]

sdmean = df['D_Duration_mean'].mean()
sdmax = df['D_Duration_max'].mean()
sdmsm = df['D_Duration_max_sub_mean'].mean()



print(sdmean)
print(sdmax)
print(sdmsm)
print((df['Area'].sum()/1e12))


df.drop(labels='mask123',axis=1,inplace=True)
with open('csv/Global_D_year_Duration.csv','w') as f:
    df.to_csv(f)
df

59.901363
96.6059
36.704556
10.54748966912

,lat,lon,Sbedrock,Area,D_Duration_mean,D_Duration_max,D_Duration_max_sub_mean
1541895,-47.15,-70.45,33.209980,84091888.0,10.166694,15.999985,5.833292
1545495,-47.05,-70.45,39.002041,84249984.0,15.255424,21.006828,5.751403
1588679,-45.85,-72.05,20.309364,86126904.0,24.000591,24.001221,0.000629
1599463,-45.55,-73.65,16.204536,86590264.0,8.000558,8.002075,0.001517
1605469,-45.45,166.95,2.763156,86744184.0,8.000663,8.001709,0.001046
...,...,...,...,...,...,...,...
5777607,70.45,140.75,5.981903,41380000.0,8.000000,8.000000,0.000000
5777608,70.45,140.85,10.690372,41380000.0,8.000732,8.000732,0.000000
5781207,70.55,140.75,1.955921,41176540.0,8.000000,8.000000,0.000000
5781208,70.55,140.85,24.193825,41176540.0,31.997803,31.997803,0.000000
5784816,70.65,141.65,8.759745,40972972.0,24.006636,24.010681,0.004045

In [14]:
df = pd.DataFrame()

with nc.Dataset('mask123.nc4') as dataset:
    lat = dataset['lat'][:].flatten()
    lon = dataset['lon'][:].flatten()
    df['lat'] = np.repeat(lat, len(lon))
    df['lon'] = np.tile(lon, len(lat))

file_variable_list = [
    ('mask123', 'Band1'),
    ('Sbedrock', 'Sbedrock'),
    ('Area', 'area'),

    ('D_FD_mean','First_Day'),
    ('D_FD_max', 'First_Day'),
    ('D_FD_min', 'First_Day'),
    ('D_FD_max_sub_mean', 'First_Day'),
    ('D_FD_max_sub_min', 'First_Day'),
]

for entry in file_variable_list:
    file = entry[0]
    variable_name = entry[1]  
    index = entry[2:] if len(entry) > 2 else None  
    if index:
        df[file] = load_and_flatten_data(file, variable_name, index[0])
    else:
        df[file] = load_and_flatten_data(file, variable_name)


df = df.dropna()
df = df[df['Sbedrock'] > 0]
df = df[df['mask123'] == 1]

sdmean = df['D_FD_mean'].mean()
sdmax = df['D_FD_max'].mean()
sdmin = df['D_FD_min'].mean()
sdmsm = df['D_FD_max_sub_mean'].mean()
sdmsmin = df['D_FD_max_sub_min'].mean()



print(sdmean)
print(sdmax)
print(sdmin)
print(sdmsm)
print(sdmsmin)
print((df['Area'].sum()/1e12))


df.drop(labels='mask123',axis=1,inplace=True)
with open('csv/Global_D_year_FD.csv','w') as f:
    df.to_csv(f)
df

161.24696
219.6788
125.036026
58.43182
94.64278
10.54748966912

,lat,lon,Sbedrock,Area,D_FD_mean,D_FD_max,D_FD_min,D_FD_max_sub_mean,D_FD_max_sub_min
1541895,-47.15,-70.45,33.209980,84091888.0,254.336151,353.000244,65.008423,98.664085,287.991821
1545495,-47.05,-70.45,39.002041,84249984.0,241.992798,352.989746,56.998352,110.996956,295.991394
1588679,-45.85,-72.05,20.309364,86126904.0,48.999737,49.000244,48.999512,0.000509,0.000733
1599463,-45.55,-73.65,16.204536,86590264.0,33.000759,33.006897,32.999268,0.006137,0.007629
1605469,-45.45,166.95,2.763156,86744184.0,328.990082,328.999329,328.987488,0.009246,0.011840
...,...,...,...,...,...,...,...,...,...
5777607,70.45,140.75,5.981903,41380000.0,225.000000,225.000000,225.000000,0.000000,0.000000
5777608,70.45,140.85,10.690372,41380000.0,224.999756,224.999756,224.999756,0.000000,0.000000
5781207,70.55,140.75,1.955921,41176540.0,225.000000,225.000000,225.000000,0.000000,0.000000
5781208,70.55,140.85,24.193825,41176540.0,217.000732,217.000732,217.000732,0.000000,0.000000
5784816,70.65,141.65,8.759745,40972972.0,224.988480,224.992554,224.986206,0.004069,0.006347