In [6]:
import os
import numpy as np
import xarray as xr
import pandas as pd
import netCDF4 as nc
import geopandas as gpd
import rioxarray as rxr
from myfunc import timer
from myfunc import DirMan
from myfunc import load_and_flatten_data
import config

# configuration
resolution = "0p1"
# resolution = "500"
region = [-180,180,-60,90]
data_path = f'/tera11/zhwei/students/Xionghui/data/run/{resolution}/'
post_data_path = '/tera11/zhwei/students/Xionghui/data/'
shp_path = '/tera11/zhwei/students/Xionghui/data/Shp/'
fig_path = f'/home/xuxh22/stu01/Bedrock/fig/{resolution}/'
path = '/home/xuxh22/stu01/Bedrock/'

if resolution == "0p1":
    size = 0.1
elif resolution == "500":
    size = 0.0005

dir_man = DirMan(data_path)
dir_man.enter()

os.makedirs(f'{data_path}/csv', exist_ok=True)

# area_sum = 19.925158940748766

Entered /tera11/zhwei/students/Xionghui/data/run/0p1/

In [7]:
df = pd.DataFrame()

with nc.Dataset('mask123.nc4') as dataset:
    lat = dataset['lat'][:].flatten()
    lon = dataset['lon'][:].flatten()
    df['lat'] = np.repeat(lat, len(lon))
    df['lon'] = np.tile(lon, len(lat))

file_variable_list = [
    ('mask123', 'Band1'),
    ('Sbedrock', 'Sbedrock'),
    ('Area', 'area'),

    ('S_Frequency_mean', 'Frequency'),
    ('S_Frequency_max', 'Frequency'),
    ('S_Frequency_max_sub_mean', 'Frequency'),
    ('S_CY', 'Cross_Year', 0)
]

for entry in file_variable_list:
    file = entry[0]
    variable_name = entry[1]  
    index = entry[2:] if len(entry) > 2 else None  
    if index:
        df[file] = load_and_flatten_data(file, variable_name, index[0])
    else:
        df[file] = load_and_flatten_data(file, variable_name)


df = df.dropna()
df = df[df['Sbedrock'] > 0]
df = df[df['mask123'] == 1]

sfmax = df['S_Frequency_mean'].mean()
sfmean = df['S_Frequency_max'].mean()
sfmsm = df['S_Frequency_max_sub_mean'].mean()
scy = df['S_CY'].mean()


print(sfmax)
print(sfmean)
print(sfmsm)
print(scy)
print((df['Area'].sum()/1e12))


df.drop(labels='mask123',axis=1,inplace=True)
with open('csv/Global_S_year_Frequency.csv','w') as f:
    df.to_csv(f)
df

nan
nan
nan
nan
0.0

Empty DataFrame
Columns: [lat, lon, Sbedrock, Area, S_Frequency_mean, S_Frequency_max, S_Frequency_max_sub_mean, S_CY]
Index: []

In [8]:
df = pd.DataFrame()

with nc.Dataset('mask123.nc4') as dataset:
    lat = dataset['lat'][:].flatten()
    lon = dataset['lon'][:].flatten()
    df['lat'] = np.repeat(lat, len(lon))
    df['lon'] = np.tile(lon, len(lat))

file_variable_list = [
    ('mask123', 'Band1'),
    ('Sbedrock', 'Sbedrock'),
    ('Area', 'area'),

    ('S_time_max_duration','Duration'),
    ('S_time_mean_duration', 'Duration'),
    ('S_sum_Frequency', 'Frequency'),
    ('S_sum_duration', 'Duration'),
]

for entry in file_variable_list:
    file = entry[0]
    variable_name = entry[1]  
    index = entry[2:] if len(entry) > 2 else None  
    if index:
        df[file] = load_and_flatten_data(file, variable_name, index[0])
    else:
        df[file] = load_and_flatten_data(file, variable_name)


df = df.dropna()
df = df[df['Sbedrock'] > 0]
df = df[df['mask123'] == 1]

sfmaxd = df['S_time_max_duration'].mean()
sfmeand = df['S_time_mean_duration'].mean()
ssf = df['S_sum_Frequency'].mean()
ssd = df['S_sum_duration'].mean()


print(sfmaxd)
print(sfmeand)
print(ssf)
print(ssd)
print((df['Area'].sum()/1e12))


df.drop(labels='mask123',axis=1,inplace=True)
with open('csv/Global_S_time.csv','w') as f:
    df.to_csv(f)
df

105.52043
58.07437
14.705136
1022.68335
11.22710847488

,lat,lon,Sbedrock,Area,S_time_max_duration,S_time_mean_duration,S_sum_Frequency,S_sum_duration
1264742,-54.85,-65.75,39.953026,71187512.0,45.001602,26.500053,2.001892,53.056946
1264743,-54.85,-65.65,32.279675,71187512.0,40.001785,39.999725,1.001831,40.040100
1264744,-54.85,-65.55,30.155428,71187512.0,40.001694,39.999264,1.002213,40.040939
1264745,-54.85,-65.45,42.045643,71187512.0,45.001312,26.500263,2.002106,53.035156
1271922,-54.65,-67.75,33.594971,71539992.0,40.000687,29.333155,3.001663,88.028717
...,...,...,...,...,...,...,...,...
5777607,70.45,140.75,5.981903,41380000.0,8.000000,8.000000,1.000000,8.000000
5777608,70.45,140.85,10.690372,41380000.0,8.000732,8.000732,1.000000,8.000732
5781207,70.55,140.75,1.955921,41176540.0,8.000000,8.000000,1.000000,8.000000
5781208,70.55,140.85,24.193825,41176540.0,31.997803,31.997803,1.000000,31.997803
5784816,70.65,141.65,8.759745,40972972.0,24.005493,23.999737,1.008056,24.142262

In [9]:
df = pd.DataFrame()

with nc.Dataset('mask123.nc4') as dataset:
    lat = dataset['lat'][:].flatten()
    lon = dataset['lon'][:].flatten()
    df['lat'] = np.repeat(lat, len(lon))
    df['lon'] = np.tile(lon, len(lat))

file_variable_list = [
    ('mask123', 'Band1'),
    ('Sbedrock', 'Sbedrock'),
    ('Area', 'area'),

    ('S_Duration_mean','Duration'),
    ('S_Duration_max', 'Duration'),
    ('S_Duration_max_sub_mean', 'Duration'),
]

for entry in file_variable_list:
    file = entry[0]
    variable_name = entry[1]  
    index = entry[2:] if len(entry) > 2 else None  
    if index:
        df[file] = load_and_flatten_data(file, variable_name, index[0])
    else:
        df[file] = load_and_flatten_data(file, variable_name)


df = df.dropna()
df = df[df['Sbedrock'] > 0]
df = df[df['mask123'] == 1]

sdmean = df['S_Duration_mean'].mean()
sdmax = df['S_Duration_max'].mean()
sdmsm = df['S_Duration_max_sub_mean'].mean()



print(sdmean)
print(sdmax)
print(sdmsm)
print((df['Area'].sum()/1e12))


df.drop(labels='mask123',axis=1,inplace=True)
with open('csv/Global_S_year_Duration.csv','w') as f:
    df.to_csv(f)
df

65.77113
105.61316
39.84202
11.22710847488

,lat,lon,Sbedrock,Area,S_Duration_mean,S_Duration_max,S_Duration_max_sub_mean
1264742,-54.85,-65.75,39.953026,71187512.0,17.669605,40.003372,22.333767
1264743,-54.85,-65.65,32.279675,71187512.0,40.001652,40.002289,0.000637
1264744,-54.85,-65.55,30.155428,71187512.0,40.000996,40.002411,0.001416
1264745,-54.85,-65.45,42.045643,71187512.0,17.669098,40.002167,22.333069
1271922,-54.65,-67.75,33.594971,71539992.0,29.334557,40.001587,10.667031
...,...,...,...,...,...,...,...
5777607,70.45,140.75,5.981903,41380000.0,8.000000,8.000000,0.000000
5777608,70.45,140.85,10.690372,41380000.0,8.000732,8.000732,0.000000
5781207,70.55,140.75,1.955921,41176540.0,8.000000,8.000000,0.000000
5781208,70.55,140.85,24.193825,41176540.0,31.997803,31.997803,0.000000
5784816,70.65,141.65,8.759745,40972972.0,24.006636,24.010681,0.004045

In [10]:
df = pd.DataFrame()

with nc.Dataset('mask123.nc4') as dataset:
    lat = dataset['lat'][:].flatten()
    lon = dataset['lon'][:].flatten()
    df['lat'] = np.repeat(lat, len(lon))
    df['lon'] = np.tile(lon, len(lat))

file_variable_list = [
    ('mask123', 'Band1'),
    ('Sbedrock', 'Sbedrock'),
    ('Area', 'area'),

    ('S_FD_mean','First_Day'),
    ('S_FD_max', 'First_Day'),
    ('S_FD_max_sub_mean', 'First_Day'),
]

for entry in file_variable_list:
    file = entry[0]
    variable_name = entry[1]  
    index = entry[2:] if len(entry) > 2 else None  
    if index:
        df[file] = load_and_flatten_data(file, variable_name, index[0])
    else:
        df[file] = load_and_flatten_data(file, variable_name)


df = df.dropna()
df = df[df['Sbedrock'] > 0]
df = df[df['mask123'] == 1]

sdmean = df['S_FD_mean'].mean()
sdmax = df['S_FD_max'].mean()
sdmsm = df['S_FD_max_sub_mean'].mean()



print(sdmean)
print(sdmax)
print(sdmsm)
print((df['Area'].sum()/1e12))


df.drop(labels='mask123',axis=1,inplace=True)
with open('csv/Global_S_year_FD.csv','w') as f:
    df.to_csv(f)
df

3294.1555
5884.237
2590.0813
11.22710847488

,lat,lon,Sbedrock,Area,S_FD_mean,S_FD_max,S_FD_max_sub_mean
1264742,-54.85,-65.75,39.953026,71187512.0,3781.322998,4773.021973,991.699097
1264743,-54.85,-65.65,32.279675,71187512.0,3287.997314,3288.044922,0.047502
1264744,-54.85,-65.55,30.155428,71187512.0,3288.012451,3288.090088,0.077756
1264745,-54.85,-65.45,42.045643,71187512.0,3781.308105,4772.977051,991.668762
1271922,-54.65,-67.75,33.594971,71539992.0,2944.335938,4757.022461,1812.686523
...,...,...,...,...,...,...,...
5777607,70.45,140.75,5.981903,41380000.0,6069.000000,6069.000000,0.000000
5777608,70.45,140.85,10.690372,41380000.0,6069.000000,6069.000000,0.000000
5781207,70.55,140.75,1.955921,41176540.0,6069.000000,6069.000000,0.000000
5781208,70.55,140.85,24.193825,41176540.0,6061.000488,6061.000488,0.000000
5784816,70.65,141.65,8.759745,40972972.0,6068.821289,6069.008789,0.187665